@charset "UTF-8";
/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

a:focus {
  outline: none;
}

/* ========================================
    全体設定
========================================= */
body {
  color: #474747;
  font-size: 25px;
  line-height: 1.4em;
  font-family: "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #474747;
  text-decoration: none;
}

/* micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ========================================
    header
========================================= */
header {
  border-top: 3px solid #4790BB;
}

header div#header_wrap h1.main_title {
  font-size: 36px;
  font-weight: 900;
  color: #4790BB;
  margin: 30px 0 30px 25px;
  font-family: 'YuMincho';
}

header div#header_wrap div#hb_nemu input#nav_input {
  display: none;
}

header div#header_wrap div#hb_nemu input#nav_input:checked ~ div#nav_contents {
  opacity: 0.8;
}

header div#header_wrap div#hb_nemu label#nav_open {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border: solid 1px #4790BB;
  display: inline-block;
}

header div#header_wrap div#hb_nemu label#nav_open span {
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  background-color: #4790BB;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

header div#header_wrap div#hb_nemu div#nav_contents {
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #2A5772;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

header div#header_wrap div#hb_nemu div#nav_contents nav.main_nav ul li {
  margin: 0 30px;
  padding: 10px 0 15px 0;
  border-bottom: solid 1px #fff;
}

header div#header_wrap div#hb_nemu div#nav_contents nav.main_nav ul li a {
  color: #fff;
  font-weight: 700;
  display: block;
}

header div#header_wrap div#hb_nemu div#nav_contents nav.main_nav ul li a:hover {
  opacity: 1;
}

label#nav_open span:before,
label#nav_open span:after {
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  background-color: #4790BB;
  content: "";
  cursor: pointer;
}

label#nav_open span:before {
  bottom: -12px;
}

label#nav_open span:after {
  bottom: -24px;
}

/* ========================================
    mainimg
========================================= */
div#mainimg {
  width: 100%;
  height: 320px;
  background: url(images/mainimg2.jpeg) no-repeat left center;
  background-size: cover;
  margin-bottom: 50px;
}

/* ========================================
    update
========================================= */
div#update {
  margin-bottom: 130px;
}

div#update div#update_wrap {
  margin: 20px;
}

div#update div#update_wrap h3.update_title {
  font-size: 30px;
  font-weight: 600;
  border-bottom: solid 2px #4790BB;
  display: inline-block;
  padding: 10px;
}

div#update div#update_wrap dl {
  margin: 10px;
}

div#update div#update_wrap dl div.dtdd_wrap {
  border-bottom: solid 1px #cccccc;
  margin: 10px 0 10px 0;
}

div#update div#update_wrap dl div.dtdd_wrap:hover {
  background-color: #EEEEEE;
}

div#update div#update_wrap dl div.dtdd_wrap dt {
  font-size: 15px;
  display: inline-block;
}

div#update div#update_wrap dl div.dtdd_wrap dt span {
  margin: 0 20px 0 20px;
  padding: 6px;
  border: solid 1px #cccccc;
  font-size: 10px;
}

div#update div#update_wrap dl div.dtdd_wrap dd {
  font-size: 15px;
  display: inline-block;
}

/* ========================================
    book
========================================= */
div#book {
  background-color: #4790BB;
  margin-bottom: 130px;
}

div#book div#book_wrap {
  margin: 20px;
  height: 700px;
}

div#book div#book_wrap h3.book_title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-top: 50px;
  color: #fff;
}

/* ========================================
site
========================================= */
div#site {
  margin-bottom: 200px;
}

div#site div#site_wrap {
  margin: 20px;
}

div#site div#site_wrap h3.site_title {
  font-size: 30px;
  font-weight: 600;
  border-bottom: solid 2px #4790BB;
  display: inline-block;
  padding: 10px;
}

div#site div#site_wrap div.site_list div.site_contents {
  margin: 20px 0;
}

div#site div#site_wrap div.site_list div.site_contents a {
  width: 100%;
  height: 460px;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
          box-shadow: 5px 5px 5px #cccccc;
  display: block;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

div#site div#site_wrap div.site_list div.site_contents a:hover {
  opacity: 0.8;
}

div#site div#site_wrap div.site_list div.site_contents a img {
  width: 100%;
  height: 75%;
  background-size: cover;
}

div#site div#site_wrap div.site_list div.site_contents a p.site_text {
  font-weight: 700;
  font-size: 30px;
  margin-top: 31px;
  text-align: center;
}

div#site div#site_wrap div.site_list div.site_contents a span.site_name {
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

footer {
  background-color: #2A5772;
  height: auto;
  padding: 10px 20px 20px 20px;
}

footer div#footer_wrap nav.footer_nav ul li {
  border-bottom: solid 1px #fff;
}

footer div#footer_wrap nav.footer_nav ul li a {
  color: #fff;
  font-size: 15px;
  display: block;
}

footer div#footer_wrap nav.footer_nav ul li a:hover {
  opacity: 0.8;
}

footer div#footer_wrap p.copylight {
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */
